/Unidad-1/nbproject/private/
/Unidad-1/ejercicio-8-division/nbproject/private/
/Unidad-1/ejercicio-8-division/build/
/Unidad-1/ejercicio-9-corregir-codigo/nbproject/private/
/Unidad-2/ejercicio-1-anio-biciesto/nbproject/private/
/Unidad-2/ejercicio-1-anio-biciesto/build/
/Unidad-2/ejericicio-2-mayor-de-3-numeros/nbproject/private/
/Unidad-2/ejericicio-2-mayor-de-3-numeros/build/
/Unidad-2/ejercicio-3-clasificacion-de-edad/nbproject/private/
/Unidad-2/ejercicio-3-clasificacion-de-edad/build/
/Unidad-2/ejercicio-4-calculadora-de-descuento-segun-categoria/nbproject/private/
/Unidad-2/ejercicio-4-calculadora-de-descuento-segun-categoria/build/
/Unidad-2/ejercicio-5-suma-de-numeros-pares/nbproject/private/
/Unidad-2/ejercicio-5-suma-de-numeros-pares/build/
/Unidad-2/ejercicio-6-contador-de-positivos-negativos-y-cero/nbproject/private/
/Unidad-2/ejercicio-6-contador-de-positivos-negativos-y-cero/build/
/Unidad-2/ejercicio-7-validar-nota/nbproject/private/
/Unidad-2/ejercicio-8-calculo-del-precio-final/nbproject/private/
/Unidad-2/ejercicio-8-calculo-del-precio-final/build/
/Unidad-2/ejercicio-9-calculo-de-envio-y-total-compra/nbproject/private/
/Unidad-2/ejercicio-9-calculo-de-envio-y-total-compra/build/
/Unidad-2/ejercicio-10-actualizacion-de-stock/nbproject/private/
/Unidad-2/ejercicio-10-actualizacion-de-stock/build/
/Unidad-2/ejercicio-11-calculo-de-descuento-especial/nbproject/private/
/Unidad-2/ejercicio-11-calculo-de-descuento-especial/build/
/Unidad-2/ejercicio-12-modificacion-array-precios/nbproject/private/
/Unidad-2/ejercicio-12-modificacion-array-precios/build/
/Unidad-2/ejercicio-13-impresion-recursiva/nbproject/private/
/Unidad-2/ejercicio-13-impresion-recursiva/build/
/Unidad-1/ejercicio-2-hola-mundo/nbproject/private/
/Unidad-1/ejercicio-2-hola-mundo/build/
/Unidad-1/ejercicio-3-variables asignadas/nbproject/private/
/Unidad-1/ejercicio-3-variables asignadas/build/
/Unidad-1/ejercicio-4-nombre-y-edad/nbproject/private/
/Unidad-1/ejercicio-4-nombre-y-edad/build/
/Unidad-1/ejercicio-5-operaciones/nbproject/private/
/Unidad-1/ejercicio-5-operaciones/build/
/Unidad-1/ejercicio-6-caracteres-de-escape/nbproject/private/
/Unidad-1/ejercicio-6-caracteres-de-escape/build/
/Unidad-1/primer-objeto/nbproject/private/
/Unidad-3/trabajopractico3/nbproject/private/
/Unidad-3/trabajopractico3/build/
/Unidad-3/trabajopractico3/dist/
/Unidad-4/Trabajo Practico 4/nbproject/private/
/Unidad-4/Trabajo Practico 4/build/
/Unidad-4/actividad-1-auto/nbproject/private/
/Unidad-4/actividad-1-auto/build/
/Unidad-4/Asociacion1A1Unidireccional/nbproject/private/
/Unidad-4/Asociacion1A1Unidireccional/build/
/Unidad-4/Asociacion1A1Unidireccional/dist/
/Unidad-5/Trabajo Practico 5/nbproject/private/
/Unidad-5/Trabajo Practico 5/build/
/Unidad-5/Trabajo Practico 5 - Dependencia de uso/nbproject/private/
/Unidad-5/Trabajo Practico 5 - Dependencia de uso/build/
/Unidad-5/Dependencia de Creacion/nbproject/private/
/Unidad-5/Trabajo Practico 5 -Dependencia de Creacion/build/
/Unidad-5/Dependencia de uso/build/
/Unidad-5/Dependencia de uso/nbproject/private/
/Unidad-5/Relaciones 1 a 1/build/
/Unidad-5/Relaciones 1 a 1/nbproject/private/
/Unidad-5/Dependencia de Creacion/build/
/Unidad-5/Trabajo Practico 5/Dependencia de Creacion/build/
/Unidad-5/Trabajo Practico 5/Dependencia de Creacion/nbproject/private/
/Unidad-5/Trabajo Practico 5/Dependencia de uso/build/
/Unidad-5/Trabajo Practico 5/Dependencia de uso/nbproject/private/
/Unidad-5/Trabajo Practico 5/Relaciones 1 a 1/build/
/Unidad-5/Trabajo Practico 5/Relaciones 1 a 1/nbproject/private/
/Unidad-5/Colecciones2-main/Colecciones2/ForEach/nbproject/private/
/Unidad-5/Colecciones2-main/Colecciones2/maximosMinimos/nbproject/private/
/Unidad-5/Colecciones2-main/Colecciones2/promedioSumatoria/nbproject/private/
/Unidad-5/Colecciones2-main/Colecciones2/ForEach/build/
/Unidad-5/Colecciones2-main/Colecciones2/maximosMinimos/build/
/Unidad-5/Colecciones2-main/Colecciones2/promedioSumatoria/build/
/Unidad-5/Colecciones-Java-main/Colecciones  Actividad 3/MetodosUtiles/target/
/Unidad-6/Caso Practico 1/SistemaDeStock/nbproject/private/
/Unidad-6/Caso Practico 1/SistemaDeStock/build/
/Unidad-6/Caso Practico 1/SistemaDeGestionDeBiblioteca/nbproject/private/
/Unidad-6/Caso Practico 1/SistemaDeGestionDeBiblioteca/build/
/Unidad-6/Caso Practico 1/SistemaAcademico/nbproject/private/
/Unidad-6/Caso Practico 1/SistemaAcademico/build/
/Unidad-7/Trabajo Practico 7/Vehiculos y herencia basica/nbproject/private/
/Unidad-7/Trabajo Practico 7/2-Figuras Geometricas y Metodos Abstractos/nbproject/private/
/Unidad-7/1-Vehiculos y Herencia Basica/nbproject/private/
/Unidad-7/2-Figuras Geometricas y Metodos Abstractos/nbproject/private/
/Unidad-7/2-Figuras Geometricas y Metodos Abstractos/build/
/Unidad-7/3-Empleados y polimorfismo/nbproject/private/
/Unidad-7/3-Empleados y polimorfismo/build/
/Unidad-7/4-Animales y comportamiento sobrescrito/nbproject/private/
/Unidad-7/4-Animales y comportamiento sobrescrito/build/
/Unidad-8/trabajo practico 8/Parte 1 E-commerce/nbproject/private/
/Unidad-8/trabajo practico 8/Parte 2 Excepciones/nbproject/private/
/Unidad-8/trabajo practico 8/Parte 2 Excepciones/build/
