/Unidad-1/nbproject/private/
/Unidad-1/ejercicio-8-division/nbproject/private/
/Unidad-1/ejercicio-8-division/build/
/Unidad-1/ejercicio-9-corregir-codigo/nbproject/private/
/Unidad-2/ejercicio-1-anio-biciesto/nbproject/private/
/Unidad-2/ejercicio-1-anio-biciesto/build/
/Unidad-2/ejericicio-2-mayor-de-3-numeros/nbproject/private/
/Unidad-2/ejericicio-2-mayor-de-3-numeros/build/
/Unidad-2/ejercicio-3-clasificacion-de-edad/nbproject/private/
/Unidad-2/ejercicio-3-clasificacion-de-edad/build/
/Unidad-2/ejercicio-4-calculadora-de-descuento-segun-categoria/nbproject/private/
/Unidad-2/ejercicio-4-calculadora-de-descuento-segun-categoria/build/
/Unidad-2/ejercicio-5-suma-de-numeros-pares/nbproject/private/
/Unidad-2/ejercicio-5-suma-de-numeros-pares/build/
/Unidad-2/ejercicio-6-contador-de-positivos-negativos-y-cero/nbproject/private/
/Unidad-2/ejercicio-6-contador-de-positivos-negativos-y-cero/build/
/Unidad-2/ejercicio-7-validar-nota/nbproject/private/
/Unidad-2/ejercicio-8-calculo-del-precio-final/nbproject/private/
/Unidad-2/ejercicio-8-calculo-del-precio-final/build/
/Unidad-2/ejercicio-9-calculo-de-envio-y-total-compra/nbproject/private/
/Unidad-2/ejercicio-9-calculo-de-envio-y-total-compra/build/
/Unidad-2/ejercicio-10-actualizacion-de-stock/nbproject/private/
/Unidad-2/ejercicio-10-actualizacion-de-stock/build/
/Unidad-2/ejercicio-11-calculo-de-descuento-especial/nbproject/private/
/Unidad-2/ejercicio-11-calculo-de-descuento-especial/build/
/Unidad-2/ejercicio-12-modificacion-array-precios/nbproject/private/
/Unidad-2/ejercicio-12-modificacion-array-precios/build/
/Unidad-2/ejercicio-13-impresion-recursiva/nbproject/private/
/Unidad-2/ejercicio-13-impresion-recursiva/build/
